<div class="row text-center">
  <h6> Hi <%= @current_user.email.split('@').first %> </h6>

  <div class='col-6'>
    <h4> List of Users </h4>
    <%= turbo_stream_from 'users' %>
    <div id='users'>
      <%= render @users %>
    </div>
  </div>
  <div class='col-6'>
    <h4> List of Rooms </h4>
    <div class='col-4 offset-4'>
      <%= turbo_stream_from 'rooms' %>
      <div id='rooms'>
        <%= render @rooms %>
      </div>
      <%= render partial: "rooms/new_room_form" %>
    </div>
  </div>
</div>
